name: Check workflow running linter, unit and functional tests

on:
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: 'Avoid model destruction to aid debugging failed runs'
        required: false
        default: false
        type: boolean
  workflow_call:
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [master, main]
    paths-ignore:
      - "**.md"
      - "**.rst"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

env:
  # TEST_JUJU3 needed due https://github.com/openstack-charmers/zaza/blob/b22c2eed4c322f1dfc14ffb2d31e0dd18c911a40/setup.py#L47 to support Juju3+
  func_cmd: TEST_JUJU3=1 make functional ${{ github.event.inputs.debug_enabled && "--keep-faulty-model" }}

jobs:
  lint-unit:
    uses: canonical/bootstack-actions/.github/workflows/lint-unit.yaml@v2
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.10"]
    with:
      python-version: ${{ matrix.python-version }}

  func:
    uses: canonical/bootstack-actions/.github/workflows/func.yaml@v3
    needs: lint-unit
    strategy:
      fail-fast: false
      matrix:
        command: ${{ env.func_command }}
        juju-channel: ["3.4/stable"]
        
    with:
      command: ${{ matrix.command }}
      juju-channel: ${{ matrix.juju-channel }}
      nested-containers: false
      python-version: "3.10"
      timeout-minutes: 120
      action-operator: false
      external-controller: true
      runs-on: "['self-hosted', 'runner-cloudsupport']"
      juju-controller: soleng-ci-ctrl-34
      zaza-yaml: "LS0tCm1vZGVsX3NldHRpbmdzOgogIGltYWdlLXN0cmVhbTogcmVsZWFzZWQKcmVnaW9uOiBwcm9kc3RhY2s2CmNsb3VkOiBidWlsZGVyLWNsb3VkCmNyZWRlbnRpYWw6IGJ1aWxkZXItY2xvdWQtY3JlZAoK"
    secrets:
      juju-controllers-yaml: ${{ secrets.JUJU_CONTROLLERS_YAML }}
      juju-accounts-yaml: ${{ secrets.JUJU_ACCOUNTS_YAML }}
      openstack-auth-env: ${{ secrets.OPENSTACK_AUTH_ENV }}
